<div class="details-container" *ngIf="course">

  <div class="header">
    <h2>Course Details</h2>
    <button class="back-btn" (click)="back()">← Back</button>
  </div>

  <div class="card">

    <div class="row">
      <label>Title</label>
      <p>{{course.title}}</p>
    </div>

    <div class="row">
      <label>Description</label>
      <p>{{course.description}}</p>
    </div>

    <div class="row">
      <label>Duration</label>
      <p>{{course.duration}} hours</p>
    </div>

    <div class="row">
      <label>Admin ID</label>
      <p>{{course.adminId}}</p>
    </div>

  </div>
</div>
