<div class="audit-container">

  <h2>📜 Historique & Audit log</h2>

  <button (click)="goBack()">⬅ Retour</button>

  <div *ngIf="loading">Chargement...</div>
  <div *ngIf="error">{{ error }}</div>

  <div class="timeline" *ngIf="logs.length > 0">

    <div class="log-item" *ngFor="let log of logs; let i = index">

      <!-- HEADER -->
      <div class="log-header">

        <span class="badge"
              [style.background]="service.getRevisionTypeColor(log.revisionType)">
          {{ service.getRevisionTypeLabel(log.revisionType) }}
        </span>

        <span class="date">
          {{ formatDate(log.revisionDate) }}
        </span>

      </div>

      <!-- BODY -->
      <div class="log-body">

        <!-- VERSION INITIALE -->
        <div *ngIf="i === 0">
          <p><strong>Création du groupe</strong></p>
        </div>

        <!-- MODIFICATIONS -->
        <div *ngIf="i > 0">

          <div *ngFor="let change of getChanges(log, logs[i-1])">

            <p class="field">🔹 {{ change.field }}</p>

            <p class="old">
              Ancien : {{ change.oldValue }}
            </p>

            <p class="new">
              Nouveau : {{ change.newValue }}
            </p>

            <hr>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
