<div class="details-container" *ngIf="content">

  <h2 class="title">Content Details</h2>

  <div class="card">

    <div class="row">
      <label>ID</label>
      <span>{{content.contentId}}</span>
    </div>

    <div class="row">
      <label>Title</label>
      <span>{{content.title}}</span>
    </div>

    <div class="row">
      <label>Type</label>
      <span class="badge">{{content.type}}</span>
    </div>

    <div class="row">
      <label>URL</label>
      <a [href]="content.url" target="_blank" class="link">
        Open Resource
      </a>
    </div>

    <div class="row">
      <label>Course ID</label>
      <span>{{content.courseId}}</span>
    </div>

    <div class="row">
      <label>Author ID</label>
      <span class="uuid">{{content.authorId}}</span>
    </div>

  </div>

</div>
